<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {{ content | safe }}
    <footer class="footer">
      <p>&copy; 2026 Dhruti Davey. All rights reserved.</p>
      <p>Made with <a href="https://www.11ty.dev/" target="_blank">11ty</a></p>
    </footer>
  </body>
</html>

