<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Dhruti Davey</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    {% include "nav.njk" %}
    
    <h1>{{ title }}</h1>
    <section class="intro">
      <p>{{ intro }}</p>
    </section>
  </header>

  <main>
    <section class="contact-info">
      <ul>
      {% if not site.shortenAuthors %}
          <li><strong>Email:</strong> <a href="mailto:{{ email }}">{{ email }}</a></li>
          <li><strong>GitLab:</strong> <a href="{{ social.gitlab.url }}">{{ social.gitlab.handle }}</a></li>
          <li><strong>LinkedIn:</strong> <a href="{{ social.linkedin.url }}">{{ social.linkedin.name }}</a></li>
      {% else %}
          <li><strong>Email:</strong> <a href="mailto:{{ shorten.email }}">{{ shorten.email }}</a></li>
          <li><strong>GitLab:</strong> <a href="{{ shorten.social.gitlab.url }}">{{ shorten.social.gitlab.handle }}</a></li>
      {% endif %}
      </ul>
    </section>

  </main>
  <footer>
    <p>&copy; 2026 {{ "Dhruti Davey" | formatName }}. Built with 11ty.</p>
  </footer>
</body>
</html>
