---
layout: base.njk
title: Dhruti Davey
---

<div class="layout" >
   <aside class="sidebar">
    <div class="profile-header">
      <img src="/images/profile.jpg" alt="Dhruti Davey" class="profile-pic" />
      <h1>Dhruti Davey <span class="pronouns">(she/her)</span></h1>
    </div>

    <nav class="social-links">
      <div class="social-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"/>
          <circle cx="12" cy="10" r="3"/>
        </svg>
        <div class="social-text">
          <span class="social-label">Location</span>
          <span class="social-value">Sheffield, UK</span>
        </div>
      </div>
      <div class="social-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <rect width="20" height="16" x="2" y="4" rx="2"/>
          <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/>
        </svg>
        <div class="social-text">
          <span class="social-label">Email</span>
          <span class="social-value">
          <a href="mailto:dhrutidavey@gmail.com">dhrutidavey@gmail.com</a>
          </span>
        </div>
      </div>
      <div class="social-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/>
          <path d="M9 18c-4.51 2-5-2-7-2"/>
        </svg>
        <div class="social-text">
          <span class="social-label">GitHub</span>
          <span class="social-value">
            <a href="https://github.com/daveydhruti" target="_blank">
              @daveydhruti
            </a>
          </span>
        </div>
      </div>
      <div class="social-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/>
          <rect width="4" height="12" x="2" y="9"/>
          <circle cx="4" cy="4" r="2"/>
        </svg>
        <div class="social-text">
          <span class="social-label">LinkedIn</span>
          <span class="social-value">
            <a href="https://linkedin.com/in/daveydhruti" target="_blank">
              in/daveydhruti
            </a>
          </span>
        </div>
      </div>
    </nav>
  </aside>


  <main class="main-content">
    <section class="about">
      <h2>About me</h2>
      <p>
        I am a computer scientist with interests in cybersecurity, AI, and software development, and I am currently exploring neuromorphic computing. I spend a lot of time trying to over-optimize things. I've graduated with my master's in Cybersecurity and AI this month. Always learning something new. 
      </p>
    </section>
    {# <div class="tabs">
      <button class="tab-button active" data-tab="tab1">Tab 1</button>
      <button class="tab-button" data-tab="tab2">Tab 2</button>
    </div>

        <div class="tab-content">
        <div id="tab1" class="tab-panel active">
          <h2>Tab 1</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi purus, sagittis nec nisl nec, mollis consequat massa. Suspendisse ut ex mi. Suspendisse potenti. Donec ultrices sapien eget enim ultrices imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec nec nibh in purus condimentum gravida. Suspendisse fringilla mattis leo sed pharetra. Vivamus sodales felis eget commodo posuere. Aenean tincidunt nibh ut tincidunt maximus. 
          </p> 

          <p> Vivamus lacinia nulla porta, cursus elit eu, lobortis enim. Maecenas eu ipsum sit amet augue interdum condimentum. Ut nisi risus, luctus sed gravida eu, porttitor sed tellus. Mauris quis ultrices justo, quis consequat tellus. Phasellus pulvinar, leo suscipit accumsan iaculis, enim urna egestas tellus, et pulvinar velit eros vel elit. Curabitur ipsum ante, maximus aliquet ante eget, tincidunt malesuada dui. Vivamus porttitor arcu eu scelerisque feugiat. Vestibulum id sapien nibh. Mauris a mi dolor. Vestibulum molestie tristique enim, in tempor erat sodales quis. Mauris blandit pulvinar nisl in ultrices. Etiam nec magna venenatis, maximus sapien nec, ullamcorper est. Duis laoreet eu dolor congue placerat. Etiam a sapien tempor, ultrices velit id, ullamcorper ligula. Cras auctor laoreet augue, ac venenatis quam venenatis molestie. 
          </p> 

          <p> Vestibulum tincidunt pellentesque faucibus. Nulla eu nisl risus. Mauris id felis est. Sed gravida, lorem quis scelerisque sollicitudin, dui tortor dignissim felis, et aliquet lectus ipsum quis nisi. Phasellus mattis condimentum euismod. Phasellus tellus justo, sollicitudin nec nisl et, imperdiet ultricies diam. Aliquam erat volutpat. </p>
        </div>

        <div id="tab2" class="tab-panel">
          <h2>Tab 2</h2>
          <p> Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In placerat felis a ullamcorper imperdiet. Nam dapibus massa sit amet mi sollicitudin ornare. Nulla leo arcu, tincidunt ut est eu, maximus placerat turpis. Sed lacinia lacus id leo semper, at hendrerit massa mattis. Donec eget mi mi. In mi sapien, semper eget sagittis nec, lacinia eget nulla. Nam aliquet, nibh quis aliquam tristique, diam leo fringilla tellus, et varius lectus nunc eu massa. Integer ac nulla nec orci lobortis fringilla. Aenean a nisi ut sapien molestie aliquam. Donec semper a leo ac ultrices. Donec commodo massa commodo lectus euismod finibus eu quis felis. In laoreet, ex sit amet cursus ullamcorper, justo justo volutpat odio, ac congue ipsum nisi a diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec semper arcu non tellus facilisis, dictum vestibulum libero mollis. Sed at consectetur ipsum. </p>
          <p> Nam nec justo bibendum, ullamcorper lorem vitae, congue lectus. Vestibulum lobortis nisi lacus. Quisque facilisis elit vitae ligula porttitor, tempus efficitur justo cursus. Nulla purus urna, pharetra vitae dolor ut, pulvinar eleifend libero. Integer sollicitudin dolor sit amet volutpat luctus. Morbi non vestibulum odio, non feugiat sapien. Quisque imperdiet gravida malesuada. Aliquam feugiat, nulla eget fringilla fermentum, ante ipsum vulputate erat, quis porttitor diam lectus in mauris. Phasellus vestibulum egestas sapien, ut gravida nisl mollis fermentum. Nunc enim magna, efficitur eu interdum id, cursus eget nibh. Etiam in erat quis quam porttitor semper id quis lectus. </p>
          <p> Sed in placerat dui, nec rhoncus dui. Nullam a sem tortor. Maecenas aliquam pulvinar purus, vel ultricies ipsum dictum id. Sed pharetra augue tincidunt, vestibulum lorem vitae, tempor ipsum. Fusce molestie erat ipsum, eget tempor urna eleifend quis. Vestibulum nec massa ut arcu auctor tincidunt in imperdiet dui. Sed elit nibh, sollicitudin et massa vitae, condimentum elementum ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed fermentum efficitur lacus, non accumsan augue vulputate et. Duis sit amet viverra metus. </p>
          <p> Pellentesque et quam sem. Praesent non lobortis velit. Etiam at nisi non arcu auctor maximus. Suspendisse potenti. Phasellus malesuada diam nec egestas ullamcorper. Nullam vitae ipsum at ante semper varius. Nulla luctus, nisi sed hendrerit volutpat, eros sapien aliquet massa, sit amet laoreet tortor augue ut risus. Vestibulum a semper tellus. </p>
        </div>
      </div>
    </main>#}
  </div> 
{# 
<script>
  const tabButtons = document.querySelectorAll('.tab-button');
  const tabPanels = document.querySelectorAll('.tab-panel');

  tabButtons.forEach(button => {
    button.addEventListener('click', () => {
      const targetTab = button.dataset.tab;
      
      tabButtons.forEach(btn => btn.classList.remove('active'));
      tabPanels.forEach(panel => panel.classList.remove('active'));
      
      button.classList.add('active');
      document.getElementById(targetTab).classList.add('active');
    });
  });
</script> #}