---
layout: base.njk
title: Dhruti Davey
---

<div class="layout" >
   <aside class="sidebar">
    <div class="profile-header">
      <img src="/images/profile.jpg" alt="Dhruti Davey" class="profile-pic" />
      <h1>Dhruti Davey <span class="pronouns">(she/her)</span></h1>
    </div>

    <section class="about">
      <h2>About</h2>
      <p>
        I am a computer scientist with interests in cybersecurity, AI, and software development, and I am currently exploring neuromorphic computing. I spend a lot of time trying to over-optimize things. I've graduated with my master's in Cybersecurity and AI this month. Always learning something new. 
      </p>
    </section>

    <nav class="social-links">
      <h2>Links</h2>
      <div class="link-rows">
      <a href="https://github.com/daveydhruti" target="_blank">
        <img src="/images/github-icon.svg" alt="GitHub" class="icon">
        GitHub
      </a>
      <a href="https://linkedin.com/in/daveydhruti" target="_blank">
        <img src="/images/linkedin-icon.png" alt="LinkedIn" class="icon">   
        LinkedIn
      </a>
    </div>
    </nav>
  </aside>
</div>
